.listagem {
max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #6b727a;
    color: #FFFFFF;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 25px;
    font-size: 20px;
}

.listagem .pokemon:hover {
    transform: scale(1.05);
}

.listagem .pokemon.ativo {
    background-color: #fa6668;
}